
.login-form,
.signup-form{
    background-color: #0067ab;
    color: #eee;
    width: 380px;
    margin: auto;
    padding: 15px;
    overflow: hidden;
}
.login-form input[type="text"],
.login-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="password"]{
    width: 100%;
}
.login-form .controls,
.signup-form .controls{
    margin-top: 10px;
}
.signup-form h3,
.login-form h3{
    text-align: center;
}

.upload-form{
    width: 80%;
    margin: 20px auto;
}
.upload-form .file-input{

 }

.board-form{
    padding: 20px 0;
}

.board-form input{
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-info{
    float: right;
    font-weight: bold;
}

/*images page*/
.image-thumb-holder{
    margin-bottom: 10px;
}
.image-thumb-holder a{
    float: left;
    display: block;
    width: 280px;
}
.image-thumb-holder a > img{
    width: 100%;
}
.image-thumb-holder div.btn{
    margin: 5px 10px;
}
